 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;600&display=swap');


 .theme-dark {
   --surface-bg-main: #18181B;
   --surface-bg-secondary: #27272A;
   --text-color: #F7F7F7;
   --text-text-primary: #FCFCFD;
   --text-text-secondary: #A1A1A9;
   --surface-bg-tertiary: #3F3F45;
   --text-text-accent: #6172F3;
   --control-control-secondary: #3F3F45;
 }


 body {
   margin: 0;
   padding: 0;
   font-family: 'Manrope', sans-serif;
   font-size: 16px;
   line-height: 1.5;
   color: var(--text-color, #F7F7F7);
   background: var(--surface-bg-main, #18181B);

 }

 a {
   text-decoration: none;
   align-self: stretch;
   color: var(--text-text-accent, #6172F3);
   font-family: Manrope;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 20px;
   /* 125% */
   cursor: pointer;
 }
 ul{
  margin: 0;
 }

.sp_ar{
  justify-content: space-around;
}

 .bold{
  color: var(--text-text-primary, #FCFCFD);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
 }
 .container {
   display: inline-flex;
   padding: 44px;
   align-items: flex-start;
   gap: 4px;
 }

 .content {
   display: flex;
   width: 1240px;
   align-items: flex-start;
   gap: 24px;
 }


 .leftSection {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 16px;
 }

 main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 16px;
   flex: 1 0 0;
 }

 .card {
   display: flex;
   width: 420px;
   padding: 24px;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 12px;
   border-radius: 16px;
   background: var(--surface-bg-secondary, #27272A);
   position: relative;
 }

 .card_content {
   display: flex;
   /*align-items: center;*/
   gap: 16px;
   align-self: stretch;
 }

 .card_img {
   width: 80px;
   height: 80px;
   border-radius: 242.424px;
   background: lightgray 0px -4.86px / 100% 150% no-repeat;
 }

 .card_main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 8px;
   flex: 1 0 0;
 }

 .card_header {
   color: var(--text-text-primary, #FCFCFD);
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 28px;
   /* 116.667% */
 }

 .card_subheader {
   color: var(--text-text-secondary, #A1A1A9);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
   /* 125% */
 }

 .card_subsub {
   color: var(--text-text-secondary, #A1A1A9);
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 16px;
   /* 114.286% */
 }

 .quotes {
   width: 48px;
   height: 48px;
   position: absolute;
   right: 0px;
   bottom: -24px;
 }

 .circle {
   width: 40px;
   height: 40px;
   border-radius: 253.727px;
   background: var(--surface-bg-tertiary, #3F3F45);
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .circle .pic {
   width: 20px;
   height: 20px;
 }

 .line {
   height: 1px;
   align-self: stretch;
   background: var(--control-control-secondary, #3F3F45);
 }

 .rpic {
   display: flex;
   width: 30px;
   height: 30px;
   padding: 10px;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   background: var(--surface-bg-main, #18181B);
 }

 .rpic .pic {
   width: 20px;
   height: 20px;
   flex-shrink: 0;
 }



 .rightSection {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 16px;
   flex: 1 0 0;
 }

 .rightSection .TitleBox {
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-self: stretch;
 }

 .rightSection .TitleBox .TitleText {
   color: var(--text-text-primary, #FCFCFD);
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 28px;
   /* 116.667% */
 }

 .card_exp {
   display: flex;
   padding: 24px;
   flex-direction: column;
   align-items: flex-start;
   gap: 16px;
   align-self: stretch;
   border-radius: 16px;
   background: var(--surface-bg-secondary, #27272A);
 }

 .card_main_exp {
   display: flex;
   align-items: flex-start;
   gap: 12px;
   align-self: stretch;
   flex-direction: column;
 }

 .rpic_exp {
   display: flex;
   width: 28px;
   height: 28px;
   padding: 12px;
   justify-content: center;
   align-items: center;
   border-radius: 12px;
   background: #00C74F;
 }

 .rpic_exp .pic {
   width: 24px;
   height: 24px;
   flex-shrink: 0;
 }

 .card_exp .footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-self: stretch;
 }

 .card_exp .footer .location {
   display: flex;
 }

 .i_sm {
   width: 16px;
   height: 16px;
 }

 .card_exp .footer .footer_text {
   color: var(--text-text-secondary, #A1A1A9);
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 16px;
   /* 114.286% */
   margin-left: 5px;
 }

 .tasks{
  color: var(--text-text-primary, #FCFCFD);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
 }